.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 30px;
}

.sign-out-button {
    background-color: red;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}